---
permalink: /
layout: 'default.njk'
seoPageTitle: Exploring the tech and people that make the web
seoPageDescription: Behind the Source is a podcast and blog by Mike Street. It highlights the different projects, tools and people within the web industry.
---

<h1>Behind the Source</h1>

<div class="intro">
	<p class="featured">Everyone is a junior in something</p>
	<p>Behind the Source is about exploring the people and tech who make the web. The <a href="/podcasts">podcast</a> explores tools, project and processes while the <a href="/interviews">interviews</a> were about finding out about the people who build the web.<p>
</div>

<h2>Podcasts</h2>

<div itemprop="hasPart" itemscope itemtype="http://schema.org/PublicationVolume" >
	<h2 itemprop="volumeNumber" class="isHidden">Series Two</h2>
	<ol class="interviewListing">
	{% for entry in collections.podcasts | limit(3) %}
		{% include 'entry-podcast.njk' %}
	{% endfor %}
	</ol>
</div>

<p>If you have a topic suggestion or would like to be on the show, <a href="mailto:hello@behindthesource.co.uk">drop me an email</a>.</p>

{% include 'signup.njk' %}

<div class="text">
	<p><strong>Behind the Source</strong> is a project by <a href="https://www.mikestreety.co.uk/">Mike Street</a>. It highlights the different people and tech behind the web. </p>
	<p><a href="/about/">Learn more about <strong>Behind the Source</strong>.</a></p>
</div>
