---
permalink: /interviews/
layout: 'default.njk'
seoPageTitle: Interviews with people who make the web
seoPageDescription: Behind the Source is a blog by Mike Street. It highlights the different routes and entry points into the web and the technology used to get there.
---

<h1>Interviews</h1>

<div class="intro">
	<p class="featured">Behind the Source Interviews are with the people behind the websites. From all walks of life, these stories show there isn't only one way into the world of the web.</p>
	<p><a href="/signup/">Sign up to receive email updates </a>or <a href="/rss">subscribe to the RSS feed</a>.</p>
</div>

<div itemprop="hasPart" itemscope itemtype="http://schema.org/PublicationVolume" >
	<h2 itemprop="volumeNumber">Series One</h2>
	<ol class="interviewListing">
	{% for entry in collections.interviews %}
		{% include 'entry-interview.njk' %}
	{% endfor %}
	</ol>
</div>

{% include 'signup.njk' %}

<div class="text">
	<p><strong>Behind the Source</strong> is a project by <a href="https://www.mikestreety.co.uk/">Mike Street</a>. It highlights the different routes and entry points into the web and the technology used to get there. </p>
	<p>If you were to believe Twitter, you would think every developer is changing their tech stack every week. The latest framework is a must-use for building your website and if you're still using last week's one you are left behind. </p>
	<p><a href="/about/">Learn more about <strong>Behind the Source</strong></a> and the <a href="/interviews/process/">process of being interviewed</a>.</p>
</div>
