---
permalink: /sitemap.xml
sitemapIgnore: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- for item in collections.interviews %}
	<url>
		<loc>https://www.behindthesource.co.uk{{ item.url }}</loc>
		<lastmod>{{ item.date }}</lastmod>
		<changefreq>monthly</changefreq>
		<priority>0.5</priority>
	</url>
{%- endfor %}
{%- for item in collections.podcasts %}
{%- if item.data.sitemapIgnore !== true  %}
	<url>
		<loc>https://www.behindthesource.co.uk{{ item.url }}</loc>
		<lastmod>{{ item.date }}</lastmod>
		<changefreq>monthly</changefreq>
		<priority>0.5</priority>
	</url>
{%- endif %}
{%- endfor %}
</urlset>
