<div class="who" itemscope itemtype="http://schema.org/Person">
	{%- if photo %}
	<div class="">
		<img itemprop="image" src="{{ photo }}" width="80" height="80" alt="{{ name }}">
	</div>
	{%- endif %}
	<div class="">
		<h2 itemprop="name">{{ name }}</h2>
		{%- if social %}
			<ul class="social">
			{%- for link in social %}
				<li>
					{%- if link.type == 'website' %}
					<a href="{{ link.href }}" itemprop="sameAs" class="website">
						<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M19.818 8.972c-1.485-1.485-3.89-1.203-5.94-1.273.142.141.425.283.637.495.353.353.636.777.848 1.272 1.132 0 2.334-.07 3.182.778.424.425.707 1.132.778 1.768a2.535 2.535 0 0 1-2.546 2.546H13.1c-.565 0-1.343-.354-1.767-.778-.99-.99-.849-2.121-.425-3.253H9.07c-.495 1.626-.424 3.253.848 4.526.849.848 1.98 1.272 3.041 1.202h3.677c1.273 0 2.475-.354 3.394-1.273 1.414-1.697 1.344-4.455-.212-6.01zM8.221 14.486H6.948c-.565 0-1.343-.354-1.768-.778-.424-.424-.707-1.131-.777-1.768 0-1.414 1.202-2.616 2.545-2.545h3.677c.566 0 1.344.353 1.768.777.99.99.778 2.193.424 3.253h1.839c.495-1.626.424-3.252-.849-4.525-.848-.849-1.98-1.273-3.04-1.202H7.09c-2.405 0-4.314 1.909-4.243 4.242 0 2.263 1.91 4.314 4.172 4.172h2.687c-.283-.141-.495-.353-.707-.566-.354-.353-.637-.636-.778-1.06z"/></svg>
						{{ link.title }}
					</a>
					{%- endif %}
					{%- if link.type == 'twitter' %}
					<a href="https://www.twitter.com/{{ link.title }}" itemprop="sameAs" class="twitter">
						<svg viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet" width="512" height="512">
							<path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"></path>
						</svg>
						{{ link.title }}
					</a>
					{%- endif %}
					{%- if link.type == 'github' %}
					<a href="https://www.github.com/{{ link.title }}" itemprop="sameAs" class="github">
						<svg viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet" width="512" height="512">
							<path d="M256 70.7c-102.6 0-185.9 83.2-185.9 185.9 0 82.1 53.3 151.8 127.1 176.4 9.3 1.7 12.3-4 12.3-8.9V389.4c-51.7 11.3-62.5-21.9-62.5-21.9 -8.4-21.5-20.6-27.2-20.6-27.2 -16.9-11.5 1.3-11.3 1.3-11.3 18.7 1.3 28.5 19.2 28.5 19.2 16.6 28.4 43.5 20.2 54.1 15.4 1.7-12 6.5-20.2 11.8-24.9 -41.3-4.7-84.7-20.6-84.7-91.9 0-20.3 7.3-36.9 19.2-49.9 -1.9-4.7-8.3-23.6 1.8-49.2 0 0 15.6-5 51.1 19.1 14.8-4.1 30.7-6.2 46.5-6.3 15.8 0.1 31.7 2.1 46.6 6.3 35.5-24 51.1-19.1 51.1-19.1 10.1 25.6 3.8 44.5 1.8 49.2 11.9 13 19.1 29.6 19.1 49.9 0 71.4-43.5 87.1-84.9 91.7 6.7 5.8 12.8 17.1 12.8 34.4 0 24.9 0 44.9 0 51 0 4.9 3 10.7 12.4 8.9 73.8-24.6 127-94.3 127-176.4C441.9 153.9 358.6 70.7 256 70.7z"></path>
						</svg>
						{{ link.title }}
					</a>
					{%- endif %}
					{%- if link.type == 'codepen' %}
					<a href="https://www.codepen.com/{{ link.title }}" itemprop="sameAs" class="codepen">
						<svg viewBox="0 0 512 512" preserveAspectRatio="xMidYMid meet" width="512" height="512">
							<path d="M427 201.9c-0.6-4.2-2.9-8-6.4-10.3L264.2 87.3c-4.9-3.3-11.4-3.3-16.3 0L91.4 191.6c-4 2.7-6.5 7.4-6.5 12.2v104.3c0 4.8 2.5 9.6 6.5 12.2l156.4 104.3c4.9 3.3 11.4 3.3 16.3 0L420.6 320.4c4-2.6 6.6-7.4 6.6-12.2V203.9C427.1 203.2 427.1 202.6 427 201.9 427 201.7 427.1 202.6 427 201.9zM270.7 127.1l115.2 76.8 -51.5 34.4 -63.8-42.7V127.1zM241.3 127.1v68.6l-63.8 42.7 -51.5-34.4L241.3 127.1zM114.3 231.4l36.8 24.6 -36.8 24.6V231.4zM241.3 384.9L126.1 308.1l51.5-34.4 63.8 42.6V384.9zM256 290.8l-52-34.8 52-34.8 52 34.8L256 290.8zM270.7 384.9V316.3l63.8-42.6 51.5 34.4L270.7 384.9zM397.7 280.6l-36.8-24.6 36.8-24.6V280.6z"></path>
						</svg>
						{{ link.title }}
					</a>
					{%- endif %}
				</li>
			{% endfor %}
			</ul>
		{%- endif %}
	</div>
</div>
