<div class="signup">
	<h2>Want to be kept up-to-date?</h2>
	<p>Sign up to be kept in the know with all things "Behind the Source".</p>
	<form action="https://gmail.us4.list-manage.com/subscribe/post?u=3c251c865e48d24aee2c92788&amp;id=7b595f44b4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<div style="position: absolute; left: -5000px;" aria-hidden="true">
			<input type="text" name="b_3c251c865e48d24aee2c92788_7b595f44b4" tabindex="-1" value="">
		</div>
		<div class="wrapper">
			<label for="mce-EMAIL">Email Address </label>
			<div class="field">
				<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
			</div>
			<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
		</div>
	</form>
</div>
